
.sidebar{
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
}
.sidebar_top{
    display: flex;
    justify-content: space-between;
}
.sidebar_top div{
    margin:20px 30px 0px 0px;
    font-weight: 400;
    font-size: 30px;
    cursor: pointer;
}
.compose-btn{
    border-radius: 40px;
    box-shadow: 2px 2px 3px #aaa;
    padding: 10px 20px;
    margin:20px 10px !important;
    max-width: 150px;
    border: none;
    font-size: large;
}
.compose-btn span{
   font-size: large;
   padding: 0px 2px;
}

