.single-email{
    box-shadow: 0px 0px 3px #aaa;
    height: 100%;
    overflow: auto;
}
.sinle-email-header{
    display: flex;
    justify-content: space-between;
    padding: 0px 5px;
    border-bottom: 1px solid whitesmoke;
}

.single-email-left{
    display: flex;
    align-items: center;
}
.single-email-left svg{
   font-size: 18px;
}
.single-email-right{
    padding: 0px 10px;
    display: flex;
    align-items: center;
}
.single-email-right p{
    font-size: 13px;
}
.single-email-text{
    display: flex;
    padding: 20px;
}

@media(max-width:650px){
    .single-email{
     width: 100vw;
     height: 100vh;
    }
    .single-email-right p {
        font-size: 10px;
    }
    .single-email-left h4{
      font-size: 14px;
    }
}