

.header{
    padding: 5px;
    display: grid;
    grid-template-columns: 250px auto 250px;
    align-items: center;
    height: 50px;
    border-bottom: 1px solid whitesmoke;
    position: sticky;
    top: 0;
    z-index: 9;
    background-color: #fff;
}
.header-left{
    display: flex;
    align-items: center;
}
.header-left span{
    font-size: x-large;
    font-weight: 800;
}

.header-midle{
    flex: 0.7;
    display: flex;
}
.search-mail{
    display: flex;
    flex: 0.7;
    background-color: whitesmoke;
    border-radius: 10px;
}
.search-mail input{
    background-color: transparent;
    outline: none;
    border: 0px;
    flex: 1;
    font-size: 15px;
    letter-spacing: 1px;
}

.header-logout button{
    margin-left: 100px;
    padding: 7px 15px;
}
